:root {
    /* basic colors */
    --keyer-bg-color: #000; /* change for a chroma key if you want, beware profile avatars may key out */
    --comment-color: #fff;
    --comment-bg-color: #222; /* needs to be slightly above black to not get keyed out */
    --comment-border-radius: 0px;
    --comment-font-size: 40px;
    --author-color: #222;
    --author-bg-color: #ffa500;
    --author-avatar-border-color: #ffa500;
    --author-border-radius: 0px;
    --author-avatar-border-size: 3px;
    --author-avatar-size: 128px;
    --author-font-size: 30px;
    /* donation/superchat specific */
    --donation-color: #5a4211;
    --donation-bg-color: #fff;
    --donation-gradient-stop0: #BF953F;
    --donation-gradient-stop1: #ede599;
    --donation-gradient-stop2: #B38728;
    --donation-label-color: #fff;
    --donation-label-text: 'SUPERCHAT';
    --donation-shadow-color: #fff;

    --shown-comment-bg-color: #555555;
    --highlighted-comment-bg-color: #f0f07d;

    /*
    LAYOUT
    */
    --comment-width: auto; /* go 100% for a full screen lower third style*/
    --comment-padding: 20px 40px 20px 70px;
    --comment-area-height: 30vh;
    --comment-scale: 1;
    --comment-area-size-offset: 0;
    --comment-area-bottom: 10px;
    /*
    STYLE
    */
    --font-family: Avenir Next, Helvetica, Geneva, Verdana, Arial, sans-serif;
    --highlight-chat-font-weight: 600;
    --author-font-weight: 700;
    --comment-font-weight: 600;
}


.chat-line__message--emote-button{
	display:inline-block;
}
.chat-line__message{
	cursor: pointer;
}
.tooltip{
	display:none;
}
.tw-tooltip{
	display:none;
}

tp-yt-paper-tooltip {
	display:none;
}

body {
    background-color: var(--keyer-bg-color);
}

.btn-clear {
    position: absolute;
    z-index: 99999;
    bottom: calc(var(--comment-area-height) + 12px);
    right: 120px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #444;
	cursor: pointer;
}
.btn-clear-youtube {
    position: absolute;
    z-index: 99999;
    bottom: 10px;
    right: 120px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #444;
	cursor: pointer;
	animation: 1s linear fadein;
}
.btn-clear-trovo {
    display: block;
    position: absolute;
    left: 80px;
    bottom: 0px;
    z-index: 100;
    background-color: #FDD;
    margin: 5px;
    padding: 10px;
	cursor: pointer;
}
.btn-clear-instagram {
    display: block;
    float:left;
    left: 30px;
    bottom: 0px;
    z-index: 100;
    background-color: #FDD;
    padding: 0 4px;
    margin: 5px 2px;
	cursor: pointer;
}
.btn-push-instagram {
    display: block;
    float:left;
    left: 30px;
    bottom: 0px;
    z-index: 100;
    background-color: #CEC;
   padding: 0 4px;
    margin: 5px 2px;
	cursor: pointer;
}
.btn-push-instagram-sub {
    display: block;
    float:left;
    left: 30px;
    bottom: 0px;
    z-index: 100;
    background-color: #CEC;
    padding: 0 4px;
    margin: 5px 2px;
	cursor: pointer;
}
.btn-clear-twitter {
    display: block;
    position: relative;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: #FDD;
    margin: 5px;
    padding: 10px;
	max-width:100%;
	cursor: pointer;
	border-radius: 20px;
	animation: 0.2s linear fadein;
	width: 225px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.btn-getoverlay-trovo {
    display: block;
    position: absolute;
    left: 160px;
    bottom: 0px;
    z-index: 100;
    background-color: #CEF;
    margin: 5px;
    padding: 10px;
	cursor: pointer;
}
.btn-getoverlay-instagram {
    display: block;
     float:left;
    left: 160px;
    bottom: 0px;
    z-index: 100;
    background-color: #CEF;
    padding: 0 4px;
    margin: 5px 2px;
	cursor: pointer;
}
.btn-getoverlay-twitter {
    display: block;
    position: relative;
    left: 0;
    bottom: 0px;
    z-index: 100;
    background-color: #CEF;
    margin: 5px;
    padding: 10px;
	max-width:100%;
	cursor: pointer;
	border-radius: 20px;
	animation: 0.2s linear fadein;
	width: 225px;
}

.btn-getoverlay-facebook {
    color: #61d0e5;
    margin: 0 0 0 5px;
	cursor: pointer;
}
.btn-clear-facebook {
    color: #e56761;
    margin: 0 0 0 5px;
	cursor: pointer;
}
.btn-push-facebook {
    color: #71e561;
    margin: 0 0 0 5px;
	cursor: pointer;
}

#startupbutton{
	display: block;
    position: relative;
    left: 0;
    bottom: 0px;
    z-index: 100;
    background-color: #CFC;
    margin: 5px;
    padding: 10px;
	max-width:100%;
	cursor: pointer;
	border-radius: 20px;
	animation: 0.5s linear fadein;
	width: 225px;
	font-size:0.8em;
}

.highlight-trovo {
	max-height: 220px;
	transform: scale(0.2) translate(-199%, 200%);
	opacity: 0.5;
	width:200%;
    position: absolute;
    left: 220px;
    bottom: 0px;
    z-index: 100;
	max-width: 780px;
	margin:5px;
}
.highlight-instagram {
	max-height: 220px;
	transform: scale(0.2) translate(-199%, 200%);
	opacity: 0.8;
	width:200%;
    position: absolute;
    left: 220px;
    bottom: 5px;
    z-index: 100;
	max-width: 1780px;
}
.highlight-twitter {
	max-height: 220px;
	transform: scale(0.2) translate(-199%, 200%);
	opacity: 0.8;
	width:200%;
    position: relative;
	display:none;
    left: 0px;
    bottom: 5px;
    z-index: 100;
	max-width: 1780px;
	border-radius: 20px;
	animation: 1s linear fadein;
}


.btn-getoverlay {
	position: absolute;
    z-index: 99999;
    bottom: calc(var(--comment-area-height) + 12px);
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #383;
	cursor: pointer;
    right: 240px;
}
.btn-clear-twitch {
    position: absolute;
    z-index: 99999;
    bottom: 2px;
    right: 130px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #444;
	cursor: pointer;
	z-index:9999px;
	animation: 1s linear fadein;
}
.btn-getoverlay-youtube {
	position: absolute;
    z-index: 99999;
    bottom: 10px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #383;
	cursor: pointer;
    right: 250px;
	animation: 1s linear fadein;
}
.btn-getoverlay-twitch {
	position: absolute;
    z-index: 99999;
    bottom: 2px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #383;
	cursor: pointer;
    right: 250px;
	z-index:9999px;
	animation: 1s linear fadein;
}
.btn-getoverlay-glimesh {
	position: absolute;
    z-index: 99999;
    bottom: 40px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #383;
	cursor: pointer;
    right: 150px;
	opacity: 0.7;
}
.btn-clear-glimesh {
    position: absolute;
    z-index: 99999;
    bottom: 40px;
    right: 30px;
    font-size: 30px;
    border: 1px #bbb solid;
    border-radius: 4px;
    color: #fff;
    background: #444;
	cursor: pointer;
	opacity: 0.7;
}

.highlighted-comment {
    background-color: var(--highlighted-comment-bg-color) !important;
}
html[dark] .highlighted-comment #message.yt-live-chat-text-message-renderer {
    color: black;
}
html[dark] .highlighted-comment:hover #message.yt-live-chat-text-message-renderer {
    color: white;
}
html[dark] .highlighted-comment #author-name.yt-live-chat-author-chip {
    color: #444;
}
html[dark] .highlighted-comment:hover #author-name.yt-live-chat-author-chip {
    color: #DDD;
}
yt-live-chat-text-message-renderer:hover {
    background-color: #eee !important;
}
html[dark] yt-live-chat-text-message-renderer:hover {
    background-color: #444 !important;
}
yt-live-chat-text-message-renderer.shown-comment {
    background-color: var(--shown-comment-bg-color) !important;
    opacity: 0.4;
}
.shown-comment:hover {
    opacity: 0.5;
}
highlight-chat {
    font-family: var(--font-family);
    font-weight: var(--highlight-chat-font-weight);
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: var(--comment-area-bottom);
    left: calc(var(--comment-area-size-offset) * -1px);
    right: calc(var(--comment-area-size-offset) * -1px);
    width: 100%;
    height: var(--comment-area-height);
    z-index:99999999999;
    overflow: hidden;
    margin: 0px;
    padding: 40px 50px 40px 220px;
    background-color: var(--keyer-bg-color);
    color: #fff;
    font-size: 30px;
    transform: scale(var(--comment-scale));
}
highlight-chat.preview {
    border: 1px #ccc solid;
}
.hl-c-cont {
    position: relative;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    transition: .5s all cubic-bezier(0.250, 0.250, 0.105, 1.2);
}
.hl-c-cont.fadeout {
    transform: translateY(600px);
}

.hl-name {
    position: absolute;
    top: -20px;
    left: 50px;
    font-weight: var(--author-font-weight);
    background: var(--author-bg-color);
    color: var(--author-color);
    padding: 10px;
    transform: rotate(-0deg);
    z-index: 1;
    border-radius: var(--author-border-radius);
    font-size: var(--author-font-size);
}
.hl-message {
    position: absolute;
    width: var(--comment-width);
    font-weight: var(--comment-font-weight);
    padding: var(--comment-padding);
    color: var(--comment-color);
    background-color: var(--comment-bg-color);
    border-radius: var(--comment-border-radius);
    font-size: var(--comment-font-size);
}
.hl-message img {
    width: 50px;
    vertical-align: middle;
}
.hl-message a {
    color: white;
}
.hl-img {
    position: absolute;
    top: 0;
    z-index: 1;
    left: -60px;
    width: var(--author-avatar-size);
    height: var(--author-avatar-size);
    background-color: var(--author-avatar-border-color);
    border-radius: 50%;
    border: 0;
    padding: var(--author-avatar-border-size);
}
.hl-img img {
    display: block;
    width: 100%;
    border-radius: 50%;
    z-index: 1;
}
/* overlay a very faint white layer to bump the blacks above the luma key cutoff */
.hl-img:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    position:absolute;
    pointer-events: none;
    z-index: 3;
}
.hl-img::after {
    background: rgba(255,255,255,.04);
    mix-blend-mode: lighten;
}

.hl-badges {
  display: inline-block;
  margin-left: 10px;
}
.hl-badges img.yt-live-chat-author-badge-renderer {
  width: 24px;
  height: 24px;
}

.donation {
    position: absolute;
    display: block;
    text-align: center;
    left: 10px;
    top: 108px;
    z-index: 3;
    min-width: 128px;
    border-radius: 10px;
    padding: 30px 5px 0;
    overflow: hidden;
    background: linear-gradient(to right, var(--donation-gradient-stop0), var(--donation-gradient-stop1), var(--donation-gradient-stop2));
    color: var(--donation-color);
    transform: rotate(-5deg) translateX(-50%);
}
.membership {
    padding: 10px 10px 5px 10px;
}
.donation::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 10px 10px 0 0;
    padding: 5px 0 0;
    display: block;
    content: var(--donation-label-text);
    color: var(--donation-label-color);
}
.membership::before {
    content: '';
}
.donation::after {
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    height: 200%;
    width: 1px;
    background-color: var(--donation-bg-color);
    box-shadow: 0 0 20px 20px var(--donation-shadow-color);
    opacity: 0.7;
    transform: rotate(9deg) translate3D(250px, 0, 0);
    animation: superchat 3s ease-in-out infinite;
}
@keyframes superchat {
    from {
        transform: rotate(9deg) translate3D(-250px, 0, 0);
    }
}
.btn-push-twitter{
	width: 60px;    
	height: 60px;   
	padding: 4px;  
	margin: 10px; 
	background-color: #c7f6c7;
	cursor:pointer;
	border-radius: 50px;
	animation: 1s linear fadein;
}


yt-live-chat-item-list-renderer {
	margin-bottom: 20px;
}

yt-live-chat-text-message-renderer {
    font-size: 24px !important;
    line-height: 32px;
}


yt-live-chat-text-message-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-membership-item-renderer {
    cursor: pointer;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-paid-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted] {
    cursor: default;
}
